<div class="modal fade" id="<%= idModal %>" tabindex="-1" aria-labelledby="<%= idModal %>Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="<%= idModal %>Label"><%= tituloModal %></h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <form action="<%= actionForm %>" method="POST">
                <div class="modal-body text-start">
                                        <%- include(rutaFields, { datos: datosInyectados }) %>
                </div>
                                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save me-2"></i>Guardar 
                    </button>
                </div>
                </form>
        </div>
    </div>
</div>